{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Donation{% endblock title %}

{% block content %}




<div class="row">

	<div class="col-md-4 offset-md-3 mt-5">

		<h3>Donation</h3>
		<br>

		<div class="d-flex flex-row" style="list-style: none;">
			<span class="mr-5">Raised:${{total_raised}}</span>
			<span class="mr-5">Donations:{{donations}}</span>
			<span class="mr-5">Goal:$25,000</span>
		</div>
		<br>
		<form method="POST" action="">

			{% csrf_token %}
			{{form|crispy}}

			<br />

			<input type="submit" value="Proceed to Payment" class="btn btn-primary text-center pr-4" />
		</form>
	</div>
</div>

{% endblock content %}