{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} Payment History {% endblock title %} {% block content %}

<!-- form errors -->
{% if form.errors %} {% for field in form %} {% for error in field.errors %}
<div class="alert alert-danger">{{field.name}}<strong> {{ error|escape }}</strong></div>
{% endfor %} {% endfor %} {% for error in form.non_field_errors %}
<div class="alert alert-danger">{{field.name}} <strong>{{ error|escape }}</strong></div>
{% endfor %} {% endif %}

<div class="m-4 p-4">
    <h3>Payment History</h3>
    <table class="table table-bordered">
        <thead>
            <th class="text-center">Payment Date</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Description</th>



        </thead>
        <tbody>

        {% for payment in payments %}
            
        <tr>
            
            <td class="text-center">{{payment.payment_date}}</td>
            <td class="text-center">{{payment.amount}}</td>
            <td class="text-center">{{payment.description}}</td>
            
        </tr>
        {% endfor %}



        </tbody>
    </table>

</div>

{% endblock content %}
