{% extends 'base.html' %} {% block title %} Subscriptions {% endblock title %} 

{% block content %}

<div class="m-4 p-4">
    <h3>Your Active Subscriptions</h3>

    <br />
    <ul>
        {% if user_profile.stripe_membership_subscription_id  %}

        <li>
            Membership <span><a href="{% url 'cancel_subscription' 'membership' %}">Cancel</a> </span>
        </li>

        {% else %}

        <li>You dont have any Membership subscriptions</li>

        {% endif %}

        <br />

        {% if user_profile.stripe_donation_subscription_id  %}

        <li>
            Donation <span><a href="{% url 'cancel_subscription' 'donation' %}">Cancel</a> </span>
        </li>

        {% else %}

        <li>You dont have any Donations subscriptions</li>

        {% endif %}
    </ul>
</div>

{% endblock content %}
